body {
  background-color: #fdbb2d;
}

.contain {
  text-align: center;
  width: 300px;
  border: 20px;
  border-style: solid;
  border-color: green;
  padding: 25px;
  margin: 0px auto;
  margin-left: auto;
  margin-right: auto;
}
.home-title {
  font-size: 3em;
  color: #214a8c;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

.small-home-title {
  text-align: center;
  font-family: 'Asap', sans-serif;
}

.list-title {
  color: #214a8c;
  font-size: 2em;
  font-family: 'Fjalla One', sans-serif;
}

a:link { 
  text-decoration: none;
  color: red;
}
.list-align {
  text-align: left;
}

.cell {
  color: green;
  font-size: 35px;
}

.mobile {
  color: #434f63;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
}